.col1 {
    float: left;
    width: 70%;
    /* display: flex; */
    /* padding-right: 10px; */
}

.col2 {
    float: right;
    width: 30%;
    background-color: #ddd;
    /* padding: 10px 5px 50px; */
    background-size: cover;
}

img {
    float: left;
    padding: 0 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style: none;
}

a {
    color: orange;
    text-decoration: none;
}

h1 {
    display: flex;
    color: orange; 
    background-color: #3d3d3d;
    /* background-size: cover; */
    padding: 30px;
    /* margin: 0 0 5px 0; */
    /* left: 0; */
    /* width: 100%; */
    /* flex-direction: row; */
}

h2 {
    margin-top: 0;
}

body {
    font-family: sans-serif;
}

footer {
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}